:root {
  --primary: green;
  --secondary: white;
}

/* #region: btns */
.reset-btn {
  justify-content: space-between;
}

.reset {
  padding-top: 7rem;
}

/* #endregion */


/* #region: monster */
.monster {
  display: flex;
  justify-content: space-around;

  user-select: none;
  cursor: pointer;

  background-image: url('https://www.pngkey.com/png/detail/66-668469_blue-flame-boss-fire-enemy-pixel-art.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.monster-container {
  height: 20rem;
  width: 50rem;
}

/* #endregion */


/* #region: Heroes */
.heroes {
  display: flex;
  justify-content: space-around;
  border-color: white;
}

/* #endregion */



body {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/54/492/884/pixel-art-trees-magic-noah-bradley-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.shopItems {
  user-select: none;
  cursor: pointer;
  padding-left: 1rem;
}

.dead {
  background-color: white;
}