:root {
  --primary: green;
  --secondary: white;
}

/* #region: btns */
.reset-btn {
  justify-content: space-between;
}

.reset {
  padding-top: 7rem;
}

/* #endregion */


/* #region: monster */
.monster {
  display: flex;
  justify-content: space-around;
}

.monster-contents {
  display: flex;
  justify-content: center;
}

/* #endregion */


.heroes {
  display: flex;
  justify-content: space-around;
}