/* NOTE: images for different heroes... 
*Human:
https://w7.pngwing.com/pngs/748/494/png-transparent-pixel-dungeon-pixel-art-pixel-purple-boss-cartoon.png

*Dwarf:
https://i.pinimg.com/736x/a4/73/69/a47369bbe1d6be5cb8f133aeed1ca706--game-design-pixel-art.jpg

*Elf:
http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/183effb3c8bc444.png
*/




:root {
  --primary: green;
  --secondary: white;
}

/* #region: btns */
.reset-btn {
  justify-content: space-between;
}

.reset {
  padding-top: 7rem;
}

/* #endregion */


/* #region: monster */
.monster {
  display: flex;
  justify-content: space-around;

  user-select: none;
  cursor: pointer;

  background-image: url('https://wiki.dfo-world.com/images/2/21/BloodDrinkerBanya.gif');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.monster-container {
  height: 20rem;
  width: 50rem;
}

/* #endregion */


/* #region: Heroes */
.heroes {
  display: flex;
  justify-content: space-around;
  border-color: white;
}

/* #endregion */



body {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/54/492/884/pixel-art-trees-magic-noah-bradley-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.shopItems {
  user-select: none;
  cursor: pointer;
  padding-left: 1rem;
}

.dead {
  background-color: white;
}